<main class="text-center py-5">
  <div class="container">
    <section class="py-4 text-center text-lg-left">
      <div class="row">
        <!-- Login form -->
        <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="login()" style="width:100%">
          <p class="h5 text-center mb-4">Sign in</p>

          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" formControlName="defaultFormEmail" id="defaultForm-email" class="form-control" mdbInputDirective>
            <label for="defaultForm-email">Your email</label>
          </div>

          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control" mdbInputDirective>
            <label for="defaultForm-pass">Your password</label>
          </div>

          <div class="text-center">
            <input id="btnSubmit" type="submit" type="submit" class="btn btn-default waves-light" mdbWavesEffect value="Login">
          </div>
        </form>
        <!-- Login form -->
      </div>
    </section>
  </div>
</main>